h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  
}
p {
  
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header{
    text-align: center;
    background: white;
    margin-top: 9%;
}
header h1{
    background-color: white;
    width: 313px;
    position: absolute;
    top: 128px;
    right: 802px;
    font: normal normal normal 65px/70px Cardo;
    letter-spacing: -1.29px;
    color: #1B1B1B;
    opacity: 1;
}
header p{
    position: absolute;
    right: 893px;
    top: 113px;
    font: normal normal medium 14px/111px Montserrat;
    letter-spacing: 0.35px;
    color: #98A684;
    text-transform: uppercase;
    opacity: 1;
}
.first_sec{
  margin-bottom: 150px;
}
.container {
    justify-content: center;
    border-top: 2px solid #98A684;
    border-bottom: 2px solid #98A684;
    display: flex;
}

.column {
    flex: 1;
    padding-top: 60px;
    padding-bottom: 60px;
}
 li{
    text-align: left;
    font: normal normal normal 20px/35px Source Sans Pro;
    letter-spacing: 0px;
    color: black;
    opacity: 1;

}
ul li::marker {
    color: #98A684;
  }

  * {
    
before, &::after {
      box-sizing: border-box;
    }
  }
  

  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }
  
 
  button span {
    position: relative;
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
  
  .previous:hover span {
    transform: translateX(-10px) scale(1.2);
  }
  
  .next:hover span {
    transform: translateX(10px) scale(1.2);
  }
  
  .slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .slider-nav li {
    display: flex;
    flex: 2;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    display: none;
    box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
  }
  
  img.active {
    display: block;
    animation: fadeImg 0.8s;
  }
  
  .slider-nav .arrow {
    flex: 0 0 15%;
  }
  
  .slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }
  /* Estilos generales para el slider */
  .container {
    z-index: 2;
    max-width: 1330px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden; /* Oculta el contenido que desborda el contenedor */
  }
  
  .slider {
    z-index: 1;
    display: flex;
    transition: transform 0.3s ease; /* Agrega una transición al desplazamiento */
  }
  
  .slide {
    flex: 0 0 100%; /* Asegura que cada diapositiva ocupe todo el ancho del contenedor */
  }
  
  
  /* Otros estilos de las diapositivas y navegación según sea necesario */
  
  /* ... */
  
  
  .slider-nav span {
    display: block;
    width: 100%;
  }
  
  @keyframes fadeImg {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


  .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .card{
    width: 1196px;
    height: 50vmin;
    display: flex;
    box-shadow: 0 30px 40px -15px rgba(0,0,0,0.35);
    background-color: white;
  }
  
  .card__img{
    background-position: center;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;  
  }
  
  #img01{
    background-image: url("https://images.unsplash.com/photo-1477865634015-0b232c1dd56a?dpr=1&auto=format&fit=crop&w=1500&h=2109&q=80&cs=tinysrgb&crop=");
  }
  
  #img02{
    background-image: url("https://images.unsplash.com/photo-1495041405835-b4702187b514?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=");
  }
  
  #img03{
    background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?dpr=1&auto=compress,format&fit=crop&w=2734&h=&q=80&cs=tinysrgb&crop=");
  }
  
  .card__content{
    padding: 10% 5%;
    box-sizing: border-box;
    width: 50%;
  }
  
  .card__content-theme{
    text-align: left;
    font: normal normal medium 14px/111px Montserrat;
    letter-spacing: 0.35px;
    color: #98A684;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 900;
    font-size: 1.7vmin;
  }
  
  .card__content-header{
    font: normal normal normal 60px/65px Cardo;
    font-weight: 900;
    font-size: 7vmin;
    text-transform: capitalize;
    letter-spacing: 0.01em;
    margin: 3vmin 0 3.5vmin;
    text-align: left;
    font: normal normal normal 60px/65px Cardo;
    letter-spacing: -1.29px;
    color: #3C3C3C;
    opacity: 1;
  }
  
  .card__content-paragraph{
    text-align: left;
    font: normal normal normal 16px/30px Source Sans Pro;
    letter-spacing: 0px;
    color: #1B1B1B;
    opacity: 1;
    font-size: 1.6vmin;
    line-height: 1.7;
    font-weight: 300;
    margin-bottom: 2.5vmin;
  }
  
  .card__content-link{
    color: #BA3428;
    font-size: 1.8vmin;
    display: block;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  
    &:hover{
      opacity: 1;
    }
  
    &:after{
      content: ' →'
    }
  }
  .section__slider{
    background-image: url('https://i.postimg.cc/zXxQFGNX/wisconsin-dells-1809872-1280-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  .section__slider::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #98a684e0; /* Color del overlay con transparencia */
    z-index: 0; /* Ajusta el z-index según sea necesario para que esté encima de la imagen de fondo */
  }
  .prevnext{
    position: absolute;
    width: 4vmin;
    height: 8vmin;
    right: 2%;
    bottom: 0;
    top: 0;
    margin: auto 0;
  }
  
  .prevnext-button{
    width: 100%;
    height: 50%;
    border: 0;
    background-color: transparent;
    font-size: 20px;
  }
  .next {
    z-index: 5;
    color: #98A684;
    display: block;

  }
  .previous {
    z-index: 5;
    color: #BA3428;
    display: block;

  }
  #prev, #next{
    position: relative;
    cursor: pointer;
    
    &:hover{
    
      &:after, &:after{
        opacity: 1;
      }
    }
  }
  